<body>
    <div class="logo">
    </div>
    <div class="slogan">
        <h2>WELCOME!</h2>
        <br>
        <h3>
        Worried about missing you deadline?<br>
        Worry No More!<br>
        Try out this personal Time Management<br>
        App now!
        </h3>
    </div>
     <div class="loginbox">
        <h1>Sign Up</h1>
        <%= form_with model: @user, url: sign_up_path do |form| %>
            <% if form.object.errors.any? %>
                <div class="alert alert-danger">
                    <% form.object.errors.full_messages.each do |messages| %>
                        <div> <%= messages %> </div>
                    <% end %>
                </div>
            <% end %>
            <div class="mb-3">
            <%= form.label :username %>
            <%= form.text_field :name, class: "form-control", placeholder: "Enter Username" %>  
            </div>  
            <div class="mb-3">
                <%= form.label :email %>
                <%= form.text_field :email, class: "form-control", placeholder: "Enter Email" %>
            </div>
            <div class="mb-3">
                <%= form.label :password %>
                <%= form.password_field :password, class: "form-control", placeholder: "Enter Password" %>
            </div>
            <div class="mb-3">
                <%= form.label :password_confirmation %>
                <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Enter Password" %>
            </div>
            <div class="mb-3">
                <%= form.submit "Sign Up", class: "btn btn-primary", data: {turbo: false} %>
            </div>
        <% end %>

    </div>
</body>