<header>
  <nav class="navbar">
    <h1>Update your profile</h1>
  </nav>
</header>
    <%= form_with model: Current.user, url: settings_path do |form| %>
        <% if form.object.errors.any? %>
            <div class="alert alert-danger">
                <% form.object.errors.full_messages.each do |messages| %>
                    <div> <%= messages %> </div>
                <% end %>
            </div>
        <% end %>
        <div class="mb-3">
            <%= form.label :username %> <br>
            <%= form.text_field :name, placeholder: "name" %>  
        </div>  
        <div class="mb-3">
            <%= form.label :email %>
            <%= form.text_field :email, class: "form-control", placeholder: "email" %>
        </div>
        <div class="mb-3">
            <%= form.label :password %>
            <%= form.password_field :password, class: "form-control", placeholder: "Enter New Password" %>
        </div>
        <div class="mb-3">
            <%= form.label :password_confirmation %>
            <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Enter New Password" %>
        </div>
        <div class="mb-3">
            <%= form.submit "Update profile", class: "btn btn-primary", data: {turbo: false} %>
        </div>
    <% end %>