<header>
  <nav class="navbar">
    <h1>Update your profile</h1>
  </nav>
</header>
<div class="container">
    <%= form_with model: @user, url: setcheck_path do |form| %>
        <div class="mb-3">
            <%= form.label :Username %> <br>
            <%= form.text_field :name, placeholder: "name" %>  
        </div>  
        <div class="mb-3">
            <%= form.label :Enter_your_current_password %>
            <%= form.password_field :password, class: "form-control", placeholder: "Enter Current Password" %>
        </div>
        <div class="mb-3">
            <%= form.submit "Confirm", class: "btn btn-primary", data: {turbo: false} %>
        </div>
    <% end %>
</div>